body {
    background-color: #191a19;
    color: white;
    font-family: sans-serif
}

h1 {
    font-family: sans-serif;
    font-size: 2em;
    color: white;
    text-align: center;
}

div {
    width: 500px;
    margin: auto;
    border: 3px solid coral;
    padding: 10px;
    background-color: #262826;
}

#card-div {
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.button-div {
    text-align: center;
}

#remaining-header {
    display: flex;
    flex-flow: row-reverse;
}

#hand-list {
    display: flex;
    flex-flow: wrap column;
    max-height: 110px;
}

.card-button {

}